<div class="container bg-dark">
    <h5 class="tablink">Tienanhjkl Newspaper</h5>
    <a href="./" target="_blank" class="btn btn-light">704/17/11 Truong Sa Family</a>
  <div id="Home" class="tabcontent">
    <h1>No News for today!</h1>
    <h2>Home is where the heart is..</h2>
    
  </div>
  <div>
    <h3>- Today is 21/04/2023. I restart learn nodejs to build a website and start learn basic javascipt for 1 day
    </h3>
    <h2>- Today is 09/08/2023. I continue study after lots of days i dont, 
    </h2>
  </div>
</div>